.team-card {
    position: relative;
    display: inline-block;
    width: 23%;
    height: 85%;
    margin-left: 1.5%;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 44px -19px rgba(79, 79, 79, 1);
}

.team-card-name {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    font-size: 21px;
    font-weight: bolder;
}

.team-card-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10%;
    top: 35%;
    background-color: dodgerblue;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    color: white;
    font-size: 12px;
}

.team-card-expense {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(158, 158, 158);
    border-top: 1px solid rgba(158, 158, 158, 0.6);
}
