.recent-referrals-container {
    width: 93%;
    margin: auto;
}

.recent-referrals-card {
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 44px -19px rgba(79, 79, 79, 1);
    width: 96%;
    padding: 2%;

    &-heading {
        padding: 5px 0px;
        font-size: 16.5px;
        font-weight: bold;
    }

    &-description {
        padding: 5px 0px;
        font-size: 14px;
        color: rgb(158, 158, 158);
    }

    &-table-container {
        padding: 20px 0px;
    }
}
