.progress-information-container {
    width: 95%;
    margin: auto;
}

.progress-information-heading {
    font-size: 16.5px;
    font-weight: bold;
    padding-top: 15px;
}

.progress-card-container {
    width: 100%
}

@media screen and (max-width: 549px) {
    .progress-information-container font {
        font-size: 15px;
    }    
}