.progress-information-container {
    width: 95%;
    margin: auto;
    background-color: blue;
}

.progress-information-heading {
    font-size: 16.5px;
    font-weight: bold;
    padding-top: 15px;
}

.progress-card-container {
    width: 100%;
    min-height: 100vh;
}

@media screen and (max-width: 600px) {
    .progress-information-container font {
        font-size: 15px;
    }
    
    .progress-card-container {
        top: 10%;
    }

    .progress-information-container {
        height: 24%;
    }
    
}