.product-tiles {
    width: 85%;
    margin: auto;

    & img {
        float: left;
        width: 25%;
        margin-right: 16px;
        margin-top: 16px;
        border: 1px solid rgba(71, 71, 71, 0.2);
    }

    @media screen and (max-width: 949px) {
        width: 90%;
        & img {
            width: 12%;
            float: unset;
        }
    }
    @media screen and (max-width: 549px) {
        width: 85%;
        & img {
            margin: unset;
            margin-top: 12px;
            margin-left: 10px;
            width: 22%;
        }
    }
}
