.sidebar {
    height: 100%;
    width: 100%;
    background-color: white;
    padding-top: 5%;
    color: grey;
    box-shadow: 14px 0px 44px -19px rgba(79,79,79,1);
}

.sidebar-dashboard {
    position: relative;
    height: 10%;
}

.sidebar-dashboard div {
    position: absolute;
    text-align: left;
    height: 90%;
    width: 80%;
    font-size: 16px;
    line-height: 74px;
    left: 10%;
    border-bottom: 1px solid rgb(184, 184, 184);
}

.sidebar-dashboard img {
    position: absolute;
    height: 20%;
    width: auto;
    right: 10%;
    top: 38%;
}

.sidebar-catalog {
    position: relative;
    height: 10%;
}

.sidebar-catalog div {
    position: absolute;
    text-align: left;
    line-height: 74px;
    vertical-align: middle;
    background-color: white;
    height: 100%;
    width: 80%;
    font-size: 16px;
    border: none;
    padding: 0;
    left: 10%;
}

.sidebar-catalog img {
    position: absolute;
    height: 20%;
    width: auto;
    right: 10%;
    top: 38%;
}