.sidebar {
    position: fixed;
    width: 0;
    top: 0;
    left: 0;
    min-width: 0;
    height: 100%;
    z-index: 1;
    box-shadow: 14px 0px 44px -19px rgba(79, 79, 79, 1);
    background-color: white;
    transition: 0.5s ease-in-out;

    &-logo-container {
        position: relative;
        background-color: black;
        height: 10%;
        max-height: 76px;

        & img {
            position: absolute;
            width: 50%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            transition: 0.5s ease-in-out;
        }
    }

    &-list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        & a {
            text-decoration: none;
            color: unset;
        }

        &-item {
            padding: 20px;

            & img {
                height: 0;
                float: right;
                transition: 0.5s ease-in-out;
            }

            & font {
                font-size: 0;
                transition: 0.5s ease-in-out;
            }
        }

        &-item-active {
            padding: 20px;
            transition: 0.6s;

            & img {
                height: 0;
                float: right;
                transition: 0.5s ease-in-out;
            }

            & font {
                font-size: 0;
                transition: 0.5s ease-in-out;
            }
        }
    }
}
