.sidebar {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    color: grey;
    transition: 0.5s;
    box-shadow: 14px 0px 44px -19px rgba(79, 79, 79, 1);
}

.sidebar-logo-container {
    position: relative;
    width: 100%;
    height: 6%;
    background-color: black;
    text-align: center;
}

.sidebar-logo-container img {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.sidebar-dashboard {
    position: relative;
    height: 6%;
}

.sidebar-dashboard div {
    position: absolute;
    text-align: left;
    height: 90%;
    width: 80%;
    font-size: 18px;
    line-height: 74px;
    left: 10%;
    border-bottom: 1px solid rgb(184, 184, 184);
}

.sidebar-dashboard img {
    position: absolute;
    height: 30%;
    width: auto;
    right: 10%;
    top: 30%;
}

.sidebar-catalog {
    position: relative;
    height: 6%;
}

.sidebar-catalog div {
    position: absolute;
    text-align: left;
    height: 90%;
    width: 80%;
    font-size: 18px;
    line-height: 65px;
    left: 10%;
    border: none;
    padding: 0;
}

.sidebar-catalog img {
    position: absolute;
    height: 30%;
    width: auto;
    right: 10%;
    top: 32%;
}

@media screen and (max-width: 550px) {
    .sidebar {
        width: 80%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .sidebar div {
        font-size: 20px;
    }
}
