.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 5px;
    float: right;
}

.grid-item {
    text-align: center;
    padding: 20px;
}

.item1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.item2 {
    grid-column: 4;
    grid-row: 1;
    background-color: black;
    width: 380px;
    height: 680px;
    overflow: auto;
}

.item2::-webkit-scrollbar {
    display: none;
}