.referral-table table {
    border-collapse: collapse;
    width: 100%;
}

.referral-table th {
    background-color: rgb(224, 233, 233);
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.referral-table td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}