.dashboard-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-auto-rows: 60px;
}

.dashboard-container > div {
    border-bottom: 0px solid black;
}

.item1 {
    grid-row: 1 / 21;
    max-width: 250px;
    border: 0px;
}

.item2 {
    grid-column: 2 / 7;
    grid-row: 1 / 6;
}

.item3 {
    grid-column: 2 / 7;
    grid-row: 6 / 11;
}

.item4 {
    grid-column: 2 / 7;
    grid-row: 11 / 16;
}

.item5 {
    grid-column: 2 / 7;
    grid-row: 16 / 21;
}
