.dashboard-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0px;
    background-color: #2196f3;
    padding: 0px;

}

.dashboard-container > div {
    border: 1px solid black;
    padding: 0px 0;
}

.item1 {
    grid-row: 1 / 5;
    max-width: 250px;
    border: 0px;
}

.item2 {
    grid-column: 2 / 7;
}

.item3 {
    grid-column: 2 / 7;
}

.item4 {
    grid-column: 2 / 7;
}

.item5 {
    grid-column: 2 / 7;
}
