.cart-product-card {
    background-color: white;
    min-width: 150px;
    max-width: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
    float: left;
}

.cart-product-body {
    padding:    10px;
    max-width: 150px;
    min-width: 150px;
    max-height: 250px;
    min-height: 200px;
}

.cart-product-img {
    max-width: auto;
    max-height: 130px;
    padding: 5px;
}

.cart-product-name {
    font-size: 15px;
    font-weight: 400;
}

.cart-product-text b {
    font-size: 10px;
    font-weight: 1000;
}

.cart-product-button {
    border: none;
    color: white;
    background-color: rgba(0,0,0,0.75);
    border-radius: 6px;
    min-height: 28px;
    font-size: small;
    min-width: 85px;
    margin-top: 5px;
}