.product-tag {
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
    background-color: rgb(203, 205, 214);
    color: rgb(82, 85, 90);
    clip-path: polygon(10px 0, 100% 0%, calc(100% - 10px) 100%, 0% 100%);

    &-container {
        padding: 8px 20px 8px 20px;
    }
}

#product-tag-first {
    clip-path: polygon(0 0, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
}

#product-tag-last {
    clip-path: polygon(10px 0, 100% 0%, 100% 100%, 0% 100%);
}
